:root {
  --text: #ffffff;
  --background: #11133c;
  --invertedBackground: var(--text); 
  --border: var(--text);

  --contrast: #F9A86F;

  --ace: rgba(249, 168, 111, 1);
  --albatross: rgba(213, 184, 255, 1);
  --eagle:rgba(6, 23, 189, 1);
  --birdie: rgba(121, 254, 157, 1);
  --par: rgba(242, 242, 242, 1);
  --bogey: rgba(195, 139, 149, 1);
  --dbogey: rgba(199, 94, 112, 1);
  --awful: rgba(195, 49, 73, 1);

  --lightText: var(--text); 
  --darkText: var(--background); 
}
